<?xml version="1.0" encoding="utf-8" ?>
<configuration>


  <connectionStrings>
    <add name="Maximus" connectionString="Data Source=maximus;Persist Security Info=True;User ID=db_prueba;Password=db_prueba;Unicode=True" providerName="System.Data.OracleClient"  />
  </connectionStrings>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
</configuration>