<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BillServicePortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="BillServicePortBinding1">
                    <security mode="Transport" />
                </binding>
                
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://e-beta.sunat.gob.pe:443/ol-ti-itcpfegem-beta/billService"
                binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding"
                contract="Sunat1.billService" name="BillServicePort" />
            
        </client>
    </system.serviceModel>
</configuration>